<footer>
    <div class="container-footer">
        <div class="title">
            <div class="logo">
                <img src="/img/logo.png" alt="logo">
            </div>
            <h2>Weavely</h2>
        </div>
        <div class="desc-footer">
            <h1>Get started to up your business <br> with personal AI manager</h1>
        </div>
        <div class="newsletter">
            <div class="input br-25">
                <i class="fa-regular fa-user"></i>
                <input type="email" placeholder="Enter your email">
            </div>
            <button class="button-primary br-25 fs-14">Try Now</button>
        </div>
        <div class="footer-navlinks">
            <ul class="navlinks">
                <li><a href="/">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Plans & Pricing</a></li>
                <li><a href="#">News & Blogs</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <hr>
</footer>

</body>

</html>