<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <title>Weavely</title>
</head>

<body>
        <header>
            <nav>
                <div class="sidebar">
                    <div>
                        <a href="/">
                            <div class="title">
                                <div class="logo">
                                    <img src="/img/logo.png" alt="logo">
                                </div>
                                <h2>Weavely</h2>
                            </div>
                        </a>
                        <div class="searchbar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="search">
                        </div>
                        <div class="sidebar-links-container">
                            <ul class="sidebar-links">
                                <li>Explore</li>
                                <li>Saved</li>
                                <li>Settings</li>
                                <li>Log out</li>
                            </ul>
                        </div>
                    </div>
                    <div class="account">
                        <div class="img-account">
                            <i class="fa-solid fa-circle-user"></i>
                        </div>
                        <div class="name-account">
                            <h4>Sihem Lassar</h4>
                            <p>sihemlassar@gmail.com</p>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="navbar">
                <ul class="navlinks">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">News & Blogs</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <div class="buttons">
                    <a href="/connecter" class="button-primary">Sign in</a>
                    <a href="/inscrire" class="button-secondary">Sign up</a>
                </div>
            </div>