<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="icon" type="image/png" href="/img/logo.png">
    <title>Weavely</title>
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="title">
                    <div class="logo">
                        <img src="/img/logo.png" alt="logo">
                    </div>
                    <h2>Weavely</h2>
                </div>
                <ul class="navlinks">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Plans & Pricing</a></li>
                    <li><a href="#">News & Blogs</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <div class="buttons">
                    <a href="/connecter" class="button-primary">Sign in</a>
                    <a href="/inscrire" class="button-secondary">Sign up</a>
                </div>
            </div>
        </nav>

        <script src="../js/index.js"></script>
    </header>