<%- include('components/navbar.ejs') %>

    <div class="home-container">
        <div class="content">
            <div class="description">
                <h1>Welcome to Weavely!</h1>
            </div>
            <div class="lorem">
               <p>Connect with your friends and discover new people</p>
            </div>
        </div>
    </div>
    
<%- include('components/footer.ejs') %>